{% extends "layout/base.html" %}
{% block content %}
    <ul class="pagination">
        {% for i in range(1, pages + 1) %}
        <li class="page-item"><a class="page-link" href="/?page={{ i }}">{{ i }}</a></li>
        {% endfor %}
    </ul>
    {% if products %}
    <div class="row">
        {%for p in products%}
        <div class="col-md-3 col-12 p-2">
            <div class="card">
                <img src="{{p.image}}" alt="{{p.name}}">
                <div class="card-body">
                    <h4 class="card-title">{{p.name}}</h4>
                    <p class="card-text">{{p.description}}</p>
                    <p class="card-text">Gia: {{p.price}} vnd</p>
                    <a href="#" class="btn btn-primary">Xem chi tiet</a>
                    <button class="btn btn-danger">Dat Mua</button>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
    {% else %}
    <h3 class="text-danger">Không tìm thấy sản phẩm</h3>
    {% endif %}
{% endblock %}